h1{
    text-align:center;
    background-color: darkblue;
    color: white;
}

h2{
    text-align: center;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: disc inside none;
    width: 400px;
    margin: 10px;
    padding: 0px;
}

li{
    padding-left: 5px;
    margin-left: -10px;
}

li:nth-child(odd){
    background-color: lightgrey;
}

.correctPosition{
    background-color:green;
    color:white;
}

.incorrectPosition{
    background-color:orange;
    color:white;
}

.notPresent{
    background-color:grey;
    color:white;
}