h1{
    text-align:center;
    background-color: darkblue;
    color: white;
}

h3{
    background-color: darkgrey;
    text-align:left;
}

h2{
    text-align: center;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: disc inside none;
    width: 400px;
    margin: 10px;
    padding: 0px;
}

li{
    padding-left: 5px;
    margin-left: -10px;
}

li:nth-child(odd){
    background-color: lightgrey;
}

#listOfTries{
    width: 100%;
    text-align:center;
}

button{
    color: white;
    background-color: darkblue;
    border-radius: 15px;
    padding: 5px;
}

.wordContainer{
    text-align:center;

    height: 80px;
}

.correctPosition{
    font-size: 24px;
    background-color:green;
    color:white;
    display: inline;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.incorrectPosition{
    font-size: 24px;
    background-color:orange;
    color:white;
    display: inline;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.notPresent{
    font-size: 24px;
    background-color:grey;
    color:white;
    display: inline;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

img{
    width:200px;
    height:200px;
}